.megamenu_fixed
	/ Begin Mega Menu Container
	%ul.megamenu
		%li
			%span.drop Panels
			/ Begin Item
			.megamenu_fullwidth
				/ Begin Item Container
				#megamenu_tabs_01.megamenu_tabs
					/ Begin Tabs Container
					%ul.megamenu_tabs_nav
						%li
							%a.current{:href => "#section1"} Section 1
						%li
							%a{:href => "#section2"} Section 2
						%li
							%a{:href => "#section3"} Section 3
						%li
							%a{:href => "#section4"} Section 4
					.clear
					.megamenu_tabs_panels
						/ Begin Panels Container
						#section1
							/ Begin Section 1
							%ul.img_list
								%li
									%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail04.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail05.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail06.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail07.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail08.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail09.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail10.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail11.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail12.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail13.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail14.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail15.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail16.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail17.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail18.jpg"}/
						/ End Section 1
						#section2.megamenu_tabs_hide
							/ Begin Section 2
							%ul.img_list
								%li
									%img{:alt => "", :src => "img/products/thumbnail11.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail12.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail10.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail07.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail09.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail08.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail06.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail04.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail05.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
						/ End Section 2
						#section3.megamenu_tabs_hide
							/ Begin Section 3
							%ul.img_list
								%li
									%img{:alt => "", :src => "img/products/thumbnail18.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail16.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail17.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail14.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail13.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail15.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail08.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail09.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail07.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail13.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail11.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail12.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail05.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail04.jpg"}/
						/ End Section 3
						#section4.megamenu_tabs_hide
							/ Begin Section 4
							%ul.img_list
								%li
									%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail04.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail06.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail05.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail11.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail15.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail12.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail13.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail11.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail12.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail05.jpg"}/
								%li
									%img{:alt => "", :src => "img/products/thumbnail04.jpg"}/
						/ End Section 4
					/ End Panels Container
				/ End Tabs Container
			/ End Item Container
		/ End Item
		%li
			%span.drop Typography
			/ Begin Item
			.megamenu_fullwidth
				/ Begin Item Container
				.col_8
					%h1 This is a Heading H1
					%p
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
						= succeed "," do
							%a{:href => "#"} since the 1500s
						when an unknown printer took a galley of type...
					%h2 This is a Heading H2
					%p It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.
					%h3 This is a Heading H3
					%p
						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
						%a{:href => "#"} Letraset sheets
						containing Lorem Ipsum.
					%h4 This is a Heading H4
					%p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
					%h5 This is a Heading H5
					%p It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.
					%h6 This is a Heading H6
					%p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				.col_4
					%h4 Products
					.col_2.col_nomargin_left
						%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
					.col_2.col_nomargin_right
						%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
					.clear
					.col_2.col_nomargin_left
						%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
					.col_2.col_nomargin_right
						%img{:alt => "", :src => "img/products/thumbnail04.jpg"}/
					.clear
					%h4 Services
					.col_2.col_nomargin_left
						%img{:alt => "", :src => "img/products/thumbnail05.jpg"}/
					.col_2.col_nomargin_right
						%img{:alt => "", :src => "img/products/thumbnail06.jpg"}/
					.clear
					.col_2.col_nomargin_left
						%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
					.col_2.col_nomargin_right
						%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
			/ End Item Container
		/ End Item
		%li
			%span.drop Miscellaneous
			/ Begin Item
			.megamenu_fullwidth
				/ Begin Item Container
				#megamenu_tabs_02.megamenu_tabs
					/ Begin Tabs Container
					%ul.megamenu_tabs_nav
						%li
							%a.current{:href => "#section11"} Products
						%li
							%a{:href => "#section12"} Services
						%li
							%a{:href => "#section13"} Typography
						%li
							%a{:href => "#section14"} HTML Elements
					.clear
					.megamenu_tabs_panels
						/ Begin Panels Container
						#section11
							/ Begin Section 1
							.col_6
								%h2 This is a product sample
								%p It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.
								%p It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.
								%p
									It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
									%a{:href => "#"} Letraset sheets
									containing Lorem Ipsum.
							.col_6
								%img{:alt => "", :src => "img/products/img_product01.jpg"}/
							.clear
							.col_6
								%h2 Another sample
								%p
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
									= succeed "," do
										%a{:href => "#"} since the 1500s
									when an unknown printer took a galley of type...
								%p
									It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
									%a{:href => "#"} Letraset sheets
									containing Lorem Ipsum.
								%p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							.col_6
								%img{:alt => "", :src => "img/products/img_product02.jpg"}/
						/ End Section 1
						#section12.megamenu_tabs_hide
							/ Begin Section 2
							.col_8
								%h3 Our service
								%p
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
									= succeed "," do
										%a{:href => "#"} since the 1500s
									when an unknown printer took a galley of type... It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
								%p
									It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
									%a{:href => "#"} Letraset sheets
									containing Lorem Ipsum.
							.col_4
								%img{:alt => "", :src => "img/products/img_service01.jpg"}/
							.clear
							.col_8
								%h3 Service Illustration
								%p It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.
								%p
									It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
									%a{:href => "#"} Letraset sheets
									containing Lorem Ipsum. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
							.col_4
								%img{:alt => "", :src => "img/products/img_service01.jpg"}/
						/ End Section 2
						#section13.megamenu_tabs_hide
							/ Begin Section 3
							.col_8
								%h3 Unordered and Ordered Lists
								%ul
									%li First unordered list item with some lorem ipsum text to fill the space. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									%li Second unordered list item. Vivamus tempus egestas lorem, ac adipiscing purus varius et. Nunc ac posuere urna. Vestibulum ante ipsum primis in faucibus orci luctus
									%li Third unordered list item. Etiam sagittis feugiat eros, vel congue purus porttitor ut. Donec vestibulum ligula et enim elementum volutpat. Vivamus tellus mi.
								%ol
									%li First ordered list item with some lorem ipsum text to fill the space. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									%li Second ordered list item. Vivamus tempus egestas lorem, ac adipiscing purus varius et. Nunc ac posuere urna. Vestibulum ante ipsum primis in faucibus orci luctus
									%li Third ordered list item. Etiam sagittis feugiat eros, vel congue purus porttitor ut. Donec vestibulum ligula et enim elementum volutpat. Vivamus tellus mi.
							.col_4
								%h3 Paragraphs with Icons
								%p.calendar This is a paragraph with a calendar icon. Curabitur lorem nulla, imperdiet.
								%p.note This is a paragraph with a note icon. Praesent id nulla eu risus rhoncus.
								%p.archive This is a paragraph with a archive icon. Ut pulvinar mauris at nunc.
								%p.search This is a paragraph with a search icon. Nulla tincidunt, purus at luctus.
								%p.help This is a paragraph with a help icon. Vestibulum venenatis diam sit amet.
						/ End Section 3
						#section14.megamenu_tabs_hide
							/ Begin Section 4
							.col_8
								%h3 Paragraphs with Borders
								%p.dark Nulla quis metus a dolor feugiat porta. Phasellus sapien magna, gravida congue fermentum vel, gravida sit amet sapien. Quisque elit est, ullamcorper ac hendrerit eget, porta id enim. Phasellus in velit velit.
								%p.brown Praesent a dolor sem. Sed scelerisque, tellus id pulvinar tristique, erat eros rutrum mi, id adipiscing arcu sem vel est. Ut ac turpis ipsum. Mauris leo nulla, vestibulum id bibendum nec, auctor eu quam.
								%p.yellow Nulla quis metus a dolor feugiat porta. Phasellus sapien magna, gravida congue fermentum vel, gravida sit amet sapien. Quisque elit est, ullamcorper ac hendrerit eget, porta id enim. Phasellus in velit velit.
								%p.red Curabitur vulputate, massa sit amet mollis sodales, arcu quam scelerisque augue, ac elementum velit mauris ac tellus. Nunc dapibus mollis ante a sollicitudin. Nullam adipiscing ante.
								%p.blue Quisque varius, erat nec fermentum aliquam, erat urna venenatis orci, in semper lorem ante at dolor. Quisque scelerisque mattis magna ut lobortis. Cras porttitor scelerisque ligula eget condimentum.
								%p.green Vestibulum sed elit ut arcu. Donec leo dui, mollis ut volutpat et, suscipit a mauris. Etiam molestie, purus id dapibus volutpat, nunc nisl ornare odio, sit amet ornare. Maecenas rutrum venenatis diam ac luctus.
							.col_4
								%h3 Paragraphs with Icons
								%p.favorite This is a paragraph with a favorite icon. Donec tortor sem, venenatis.
								%p.lock This is a paragraph with a lock icon. Vivamus eu felis lacus, in tincidunt.
								%p.briefcase This is a paragraph with a briefcase icon. Cras sagittis, tortor at.
								%p.user This is a paragraph with a user icon. Mauris quis augue lectus, eget congue.
								%p.black_bg This is a simple paragraph contained in a box with a dark background. It can be used to highlight some texts. Nulla tincidunt, purus at luctus eu felis lacus, in tincidunt.
						/ End Section 4
					/ End Panels Container
				/ End Tabs Container
			/ End Item Container
		/ End Item
		%li
			%span.drop Columns Grid
			/ Begin Item
			.megamenu_fullwidth
				/ Begin Item Container
				.col_12
					%p.black_bg 930px
				.col_11
					%p.black_bg 850px
				.col_1
					%p.black_bg 50px
				.col_10
					%p.black_bg 770px
				.col_2
					%p.black_bg 130px
				.col_9
					%p.black_bg 690px
				.col_3
					%p.black_bg 210px
				.col_8
					%p.black_bg 610px
				.col_4
					%p.black_bg 290px
				.col_7
					%p.black_bg 530px
				.col_5
					%p.black_bg 370px
				.col_6
					%p.black_bg 450px
				.col_6
					%p.black_bg 450px
				.col_4
					%p.black_bg 290px
				.col_4
					%p.black_bg 290px
				.col_4
					%p.black_bg 290px
				.col_3
					%p.black_bg 210px
				.col_3
					%p.black_bg 210px
				.col_3
					%p.black_bg 210px
				.col_3
					%p.black_bg 210px
				.col_2
					%p.black_bg 130px
				.col_2
					%p.black_bg 130px
				.col_2
					%p.black_bg 130px
				.col_2
					%p.black_bg 130px
				.col_2
					%p.black_bg 130px
				.col_2
					%p.black_bg 130px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
				.col_1
					%p.black_bg 50px
			/ End Item container
		/ End Item
		%li
			%span.drop Misc Elements
			/ Begin Item
			.megamenu_fullwidth.megamenu_scrollbars
				/ Begin Item Container
				.megamenu_scroller_container
					/ Begin Scroller Container
					.megamenu_scroll_area
						/ Begin Scrolling Area
						.col_6
							%h3 Youtube Video
							%iframe{:height => "253", :src => "http://www.youtube.com/embed/0mtLe03kyuE?wmode=transparent", :width => "450"}
						.col_6
							%h3 Vimeo Video
							%iframe{:height => "253", :src => "http://player.vimeo.com/video/20174757?title=0&byline=0&portrait=0", :width => "450"}
						.clear
						.col_6
							%h3 Basic Tables
							%table.table_light
								%tr
									%th Title 1
									%th Title 2
									%th Title 3
									%th Title 4
								%tr
									%td Cell 1
									%td Cell 2
									%td Cell 3
									%td Cell 4
								%tr
									%td Cell 1
									%td Cell 2
									%td Cell 3
									%td Cell 4
								%tr
									%td Cell 1
									%td Cell 2
									%td Cell 3
									%td Cell 4
							%table.table_dark
								%tr
									%th Title 1
									%th Title 2
									%th Title 3
									%th Title 4
								%tr
									%td Cell 1
									%td Cell 2
									%td Cell 3
									%td Cell 4
								%tr
									%td Cell 1
									%td Cell 2
									%td Cell 3
									%td Cell 4
								%tr
									%td Cell 1
									%td Cell 2
									%td Cell 3
									%td Cell 4
						.col_6
							%h3 Images
							%p Nullam ultricies semper erat in lacinia. In ac tellus vitae orci tristique hendrerit sed sit amet lectus. Vivamus dapibus mattis diam, vitae imperdiet nunc vehicula in. Maecenas quam mauris, convallis sit amet varius ut, pretium a enim. Maecenas quis nisl quis ante dictum vehicula at nec nunc.
							%p Morbi eget sem nec felis condimentum posuere. Curabitur in leo mi, eget mollis nunc. Morbi enim sapien, dictum ac mollis nec. There are many variations of passages of Lorem Ipsum available.
							.col_2.col_nomargin_left
								%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
							.col_2
								%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
							.col_2.col_nomargin_right
								%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
							.clear
							%p By injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
					/ End Scrolling Area
				/ End Scroller Container
			/ End Item Container
		/ End Item
		%li
			%span.nodrop
				%a{:href => "#"} No Drop
		%li
			%span.drop iFrame
			/ Begin Item
			.megamenu_fullwidth
				/ Begin Item Container
				.col_12
					%iframe{:height => "600", :src => "http://validator.w3.org/", :width => "930"}
			/ End Item Container
		/ End Item
		%li
			%span.drop Contact Form
			/ Begin Item
			.megamenu_fullwidth
				/ Begin Item Container
				.col_4
					%h3 Contact Us !
					%p This is a fully working simple contact form. Just add your email address and you're done !
					.contact_form
						.message
							#alert
						%form#megamenu_form{:action => "js/sendmail.php", :method => "post"}
							%label{:for => "name"}
								Name
								%span.required *
							%br/
							%input#name.form_element{:autocomplete => "off", :name => "name", :type => "text", :value => ""}/
							%br/
							%label{:for => "email"}
								Email
								%span.required *
							%br/
							%input#email.form_element{:autocomplete => "off", :name => "email", :type => "text", :value => ""}/
							%br/
							%label{:for => "message"}
								Message
								%span.required *
							%br/
							%textarea#message.form_element{:name => "message"}
							%p.special
								%label{:for => "last"} Don't fill this in :
								%input#last.form_element{:name => "last", :type => "text", :value => ""}/
							.form_buttons
								%input#submit.button{:type => "submit", :value => "Submit"}/
								%input#reset.button{:type => "reset", :value => "Reset"}/
				.col_8
					%h3 Some Inline Text
					%p Nullam ultricies semper erat in lacinia. In ac tellus vitae orci tristique hendrerit sed sit amet lectus. Vivamus dapibus mattis diam, vitae imperdiet nunc vehicula in. Maecenas quam mauris, convallis sit amet varius ut, pretium a enim. Maecenas quis nisl quis ante dictum vehicula at nec nunc. Morbi eget sem nec felis condimentum posuere. Curabitur in leo mi, eget mollis nunc. Morbi enim sapien, dictum ac mollis nec.
					%img.inline_img{:alt => "", :src => "img/img_sample.jpg"}/
					%p Praesent sed est ac lectus blandit tincidunt. Vestibulum rutrum vestibulum suscipit. Duis commodo condimentum risus at dignissim. In quis justo at felis vulputate dapibus. Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.
			/ End Item Container
		/ End Item
	/ End Mega Menu
/ End Mega Menu Container
.dummy_content_margin
	%h2 Mega Menu Reloaded
	%p
		This
		%strong Mega Menu
		comes with awesome options and is the most complete solution to build mega menus. It also works without javascript and when disabled most of the content remains accessible. Colors are easy to change and you have 2 awesome tools that can help you :
		%a{:href => "http://www.colourlovers.com/"} Colour Lovers
		to find colors and
		%a{:href => "http://0to255.com/facade"} 0to255
		for different tones of a given color.
	%p The menu can work on mouse click or mouse hover and has easy options to set up. Optionnal features can be safely removed : the inner tabs, the contact form or the menu items scroller as well as scrollbars. Getting rid of them will not affect the main functionnality of the menu.
	%p The contact form doesn't need any PHP knowledge, you only have to add your email address as specified in the documentation. All feedback messages appearing when sending an email can be translated in the source code and are easy to modify. This contact form is quite simple and can be replaced by another product that has more options.
	%p This is a demonstration page and upon purchase you'll get HTML pages with clean indented markup. Integrating and customizing this menu requires at least a basic knowledge of HTML and CSS, this is not a plugin ready to be uploaded to your Wordpress or Joomla site. All modifications have to be done in the source code.
	%h3 Features
	%ul
		%li Menu bar scroller
		%li Internal scrollbars (for large drop downs with a lot of content)
		%li Inner tabs to include more content
		%li Column grid system (up to 12 columns)
		%li Relies mainly on CSS, improved with some javascript
		%li Clean and attractive design
		%li 100% valid HTML/CSS markup
		%li Uses some CSS3 magic
		%li Comes with a fully working AJAX contact form
		%li Cross-browser tested
	%p
		It has been tested with all the major browsers and degrades gracefully down to IE6. All tests have been done with native applications running under a virtual machine to get accurate results. Please keep in mind that some CSS3 features don't work with old browsers like rounded corners. For more informations, please visit
		= succeed "." do
			%a{:href => "http://findmebyip.com/litmus/"} findmebyIP
	%h3 Compatible Browsers
	%ul
		%li Internet Explorer 6+
		%li Firefox 2+
		%li Chrome 4+
		%li Safari 4+
		%li Opera 11+
	%p
		%strong Notice
		\: IE6 requires an additional script that improves its compatibility with some basic CSS properties. You'll find more informations
		= succeed "." do
			%a{:href => "http://code.google.com/p/ie7-js/"} here
	%h3 Credit Photos
	%p
		Photos by
		%a{:href => "http://www.flickr.com/photos/markjsebastian/"} Mark Sebastian
	%ul
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/2420247862/in/photostream"} Old Dusty Radio (#48791)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/2433403926/in/photostream"} _MG_49220
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/3137728868/in/photostream"} Silent Night (#71772)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/5101510772/in/photostream"} _MG_5826
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4713902130/in/photostream"} Oyster Bay, New York (#112565)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4573038675/in/photostream"} (#108818)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4539225401/in/photostream"} Joshua Tree (#90600)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4512013323/in/photostream"} A Paper Bag Story (#95752)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4035393587/in/photostream"} IMG_91330
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/3991099211/in/photostream"} (500) Bags of Summer (#95860)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/3904870763/in/photostream"} _MG_1854
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/3425397343/in/photostream"} Helena Hong (#78898)
	%h3 Support and Updates
	%p
		Feel free to contact me at any time if you have questions by using the contact form of my
		= succeed "." do
			%a{:href => "http://codecanyon.net/user/Pixelworkshop"} profile page
		Please keep in mind that once purchased, I provide support for free but customizations are a paid service (adding some functionnality, tweaking the menu, etc.). Support questions sent via any other way won't be answered.
	%p I try to regularly update my products based on the feedback I receive, so if you find any kind of bug, I'll do my best to update the menu as soon as possible. If you have an idea that could improve it, feel also free to ask me, some customization questions happened to be the starting point of an update.
	%ul
		%li
			%a{:href => "http://pixelworkshop.fr/"} Pixelworkshop Site
		%li
			%a{:href => "http://blog.pixelworkshop.fr/"} Pixelworkshop - Blog
		%li
			%a{:href => "http://twitter.com/pixlworkshop"} Pixelworkshop on Twitter
	%p Thanks for reading !
	%p
		%strong
			%em Pixelworkshop


:coffeescript
$(document).ready ($) ->
	$(".megamenu").megaMenuReloaded
		menu_speed_show: 300
		menu_speed_hide: 200
		menu_speed_delay: 200
		menu_effect: "open_close_slide"
		menu_easing: "jswing"
		menu_click_outside: 1
		menu_show_onload: 0
		menubar_trigger: 1
		menubar_hide: 0

	$("#megamenu_tabs_01, #megamenu_tabs_02").megaMenuTabs()
	$("#megamenu_form").ajaxForm target: "#alert"
