.megamenu_fixed
	/ Begin Mega Menu Container
	%ul.megamenu
		= render :partial => 'panels'
		= render :partial => 'typography'
		= render :partial => 'misc'
		= render :partial => 'cgrid'
		= render :partial => 'elements'
		= render :partial => 'iframe'
		= render :partial => 'contact'
	/ End Mega Menu
/ End Mega Menu Container

= render :partial => 'blahblah'

:coffeescript
$(document).ready ($) ->
	$(".megamenu").megaMenuReloaded
		menu_speed_show: 300
		menu_speed_hide: 200
		menu_speed_delay: 200
		menu_effect: "open_close_slide"
		menu_easing: "jswing"
		menu_click_outside: 1
		menu_show_onload: 0
		menubar_trigger: 1
		menubar_hide: 0

	$("#megamenu_tabs_01, #megamenu_tabs_02").megaMenuTabs()
	$("#megamenu_form").ajaxForm target: "#alert"
